#loaderContainer {
  position: relative;
}

#wrapper {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100vh;
}

#loadFirst {
  font-family: League Gothic, sans-serif;
  height: 60%;
  font-size: 6em;
  display: grid;
  place-content: center;
}

#loadSecond {
  height: 40%;
  display: grid;
  place-content: center;
}

.char {
  display: inline-block;
  transform: translateY(-155px);
}

#loader {
  width: 10em;
  height: 10em;
  transform: translateY(-2em);
}
